doctype html
html(lang='en')
  head
    title TO DO APP
    link(rel='stylesheet', href='/static/main.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap' rel='stylesheet')
  body
    div.wrapper
      h1.logo TO DO APP

      block number1   