:root {
    font-family: 'New Tegomin', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
    background-size: 100%;
    
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    margin-bottom: 45px;
    font-size: 4rem;
    color: black;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-family: inherit;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: inherit;
    width: 18%;
    border: none;
    border-radius: 12px;
    background: rgb(206, 100, 233);
    color: #fff;
}

.todos {
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dotted #ccc;
}

.todo:last-child {
    border-bottom: none;
}

.todo:hover {
    background: #eee;
}

.error,
.success {
    text-align: center;
    font-size: 1.4rem;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.error {
    color: #fff;
    background: tomato;
}

.success {
    color: #fff;
    background: rgb(62, 165, 62);
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 12px;
    background: rgb(250, 234, 95);
    color: #fff;
}

.done,
.undone {
    text-decoration: none;
    color: black;
}

.done {
    text-decoration: line-through;
}